doctype html
html
	head
	body
		ul
			li
				a(href='./index.html', target='_blank')
				a(href='./catalog-list.html', target='_blank')
				a(href='./catalog.html', target='_blank')
				a(href='./kartocha-tovara.html', target='_blank')
				a(href='./korzina.html', target='_blank')
				a(href='./oformlenie-zakaza.html', target='_blank')
				a(href='./oformlenie-zakaza-spasibo.html', target='_blank')
